@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:host {
  all: initial;
}
.sc-roboto {
  font-family: "Roboto", sans-serif !important;
}

.sc-margin-0 {
  margin: 0 !important;
}

.sc-w-300px {
  width: 370px !important;
  box-sizing: border-box !important;
  flex-shrink: 0 !important;
}
.sc-text-upper {
  text-transform: uppercase !important;
}

.sc-text-lower {
  text-transform: lowercase !important;
}

.sc-text-capitalize {
  text-transform: capitalize !important;
}

.sc-button-fontcolor-arrow {
  position: absolute !important;
  bottom: 100% !important;
  left: 37% !important;
  transform: translateX(-50%) !important;
  width: 0 !important;
  height: 0 !important;
  border-left: 6px solid transparent !important;
  border-right: 6px solid transparent !important;
  border-bottom: 6px solid #c47206 !important;
}
.sc-gap-3 {
  gap: 0.1875rem !important;
}

.sc-gap-3 {
  gap: 0.7rem !important;
}

.sc-btn {
  all: unset;
}

.sc-flex-col {
  display: flex !important;
  flex-direction: column;
}

.sc-pl-2 {
  padding-left: 0.5rem !important;
  /* 8px */
}

.sc-active-bar {
  background-color: #ef7c2f !important;
  height: 100% !important;
  width: 2px !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
}

.sc-mx-auto {
  margin: 0 auto !important;
}

.sc-border-realtime {
  border: 1px solid #fd6500 !important;
}

.sc-border-r {
  border-right-width: 1px !important;
  border-right-style: solid !important;
}

.sc-border-l {
  border-left-width: 1px !important;
  border-left-style: solid !important;
}

.sc-pt-1 {
  padding-top: 0.36rem !important;
  /* 4px */
}

.sc-pb-1 {
  padding-bottom: 0.3rem !important;
  /* 4px */
}

.sc-border {
  border-width: 0.1px !important;
  border-style: dashed !important;
}

.sc-bg-3f3f3f {
  background-color: #5a5959 !important;
}

.sc-bg-transparent {
  background-color: transparent !important;
}

.sc-border-585858 {
  border-color: #4d4d4d !important;
}

.sc-input {
  all: unset;
}

.sc-h-9 {
  height: 1.8rem !important;
  /* 36px */
}

.sc-h-44 {
  height: 12rem !important;
  overflow-y: auto !important;
}

.sc-rotate-180 {
  transform: rotate(180deg) !important;
}

.sc-text-center {
  text-align: center !important;
}

.sc-grid {
  display: grid !important;
}

.sc-grid-cols-12 {
  grid-template-columns: repeat(12, 1fr);
}

.sc-mx-2 {
  margin-left: 4px !important;
  margin-right: 4px !important;
}

.sc-bg-F6F6F6 {
  background: #f6f6f6 !important;
}

.sc-py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.sc-py-0_5 {
  padding-top: 0.35rem !important;
  padding-bottom: 0.35rem !important;
}

.sc-col-span-1 {
  grid-column: span 1 / span 1;
}

.sc-col-span-2 {
  grid-column: span 2 / span 2;
}

.sc-col-span-3 {
  grid-column: span 3 / span 3;
}

.sc-col-span-8 {
  grid-column: span 8 / span 8;
}

.sc-col-span-7 {
  grid-column: span 7 / span 7;
}

.sc-col-span-5 {
  grid-column: span 5 / span 5;
}

.sc-col-span-6 {
  grid-column: span 6 / span 6;
}

.sc-col-span-4 {
  grid-column: span 4 / span 4;
}

.sc-font-light {
  font-weight: 300 !important;
}

.sc-justify-center {
  justify-content: center !important;
}

.sc-bg-color-2c2c2c {
  background-color: #2c2c2c !important;
}

.sc-text-color-white {
  color: white !important;
}

.sc-text-sm {
  font-size: 0.775rem !important;
  /* 14px */
}

.sc-p-4 {
  padding: 1rem !important;
  /* 16px */
}

.sc-mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.sc-border {
  border-width: 1px !important;
}

.sc-rounded-full {
  border-radius: 100% !important;
}

.sc-bg-color-3d3d3d {
  background-color: #3d3d3d !important;
}

.sc-border-3d3d3d {
  border-color: #3d3d3d !important;
}

.sc-cursor-pointer {
  cursor: pointer !important;
}

.sc-bg-494949 {
  background-color: #494949 !important;
}

.sc-flex {
  display: flex !important;
}

.sc-mt-2 {
  margin-top: 0.5rem !important;
  /* 8px */
}

.sc-mt-1 {
  margin-top: 0.2rem !important;
  /* 4px */
}

.sc-items-center {
  align-items: center !important;
}

.sc-font-semibold {
  font-weight: 600 !important;
}

.sc-justify-between {
  justify-content: space-between !important;
}

.sc-gap-1 {
  gap: 0.25rem !important;
  /* 4px */
}

.sc-gap-5 {
  gap: 2rem !important;
  /* 20px */
}

.sc-mt-6 {
  margin-top: 1rem !important;
  /* 24px */
}

.sc-opacity-70 {
  opacity: 0.7 !important;
}

.sc-w-full {
  width: 100% !important;
}

.sc-h-1px {
  height: 1px !important;
}

.sc-px-10 {
  padding-left: 2rem !important;
  /* 40px */
  padding-right: 2rem !important;
  /* 40px */
}

.sc-px-1 {
  padding-left: 0.25rem !important;
  /* 4px */
  padding-right: 0.25rem !important;
  /* 4px */
}

.sc-border-t {
  border-width: 0.1px !important;
  height: 0.1px !important;
}

.sc-border-dashed {
  border-style: dashed !important;
}

.sc-border-solid {
  border-style: solid !important;
}

.font-I {
  font-family: "Poppins", sans-serif !important;
  font-style: italic !important;
}

.sc-border-dotted {
  border-style: dotted !important;
}

.sc-font-bold {
  font-weight: 900 !important;
}

.sc-bottom-3 {
  bottom: 0.75rem !important;
}

.sc-custom-dropdown {
  display: none;
}

.sc-custom-dropdown.show {
  display: block;
}

.sc-font-italic {
  font-style: italic !important;
}

.sc-font-underline {
  text-decoration: underline !important;
}

.sc-border-color-494949 {
  border-color: #494949 !important;
}

.sc-mt-3 {
  margin-top: 0.75rem !important;
}

.sc-mt-4 {
  margin-top: 15px !important;
}

.sc-mt-5 {
  margin-top: 1.25rem !important;
  /* 20px */
}

.sc-bg-454545 {
  background-color: #454545 !important;
}

.sc-blur-sm {
  filter: blur(2px);
  opacity: 0.6;
}

.sc-px-2 {
  padding-left: 0.7rem !important;
  /* 8px */
  padding-right: 0.7rem !important;
  /* 8px */
}

.sc-px-3 {
  padding-left: 0.875rem !important;
  /* 14px */
  padding-right: 0.875rem !important;
  /* 14px */
}

.sc-bg-color-494949 {
  background-color: #494949 !important;
}

.sc-border-0 {
  border-width: 0 !important;
}

.sc-relative {
  position: relative !important;
}

.sc-absolute {
  position: absolute !important;
}

.sc-pb-5 {
  padding-bottom: 1.25rem !important;
  /* 20px */
}

.sc-border-r {
  border-right-width: 1px !important;
  border-right-style: solid !important;
}

.sc-top-0 {
  top: 0 !important;
}

.sc-pb-3 {
  padding-bottom: 0.75rem !important;
  /* 12px */
}

.sc-py-1 {
  padding-top: 0.25rem !important;
  /* 4px */
  padding-bottom: 0.25rem !important;
  /* 4px */
}

.sc-left-0 {
  left: 0 !important;
}

.sc-text-md {
  font-size: 0.9rem !important;
  font-family: "Inter", "Roboto", sans-serif !important;
}

.sc-px-4 {
  padding-left: 0.8rem !important;
  padding-right: 0.8rem !important;
}

.sc-w-16 {
  width: 4rem !important;
}

.sc-top-10 {
  top: 2rem !important;
}

.sc-w-20 {
  width: 10rem !important;
}

.sc-w-12 {
  width: 2.8rem !important;
}

.sc-w-50 {
  width: 44% !important;
}

.sc-w-10 {
  width: 1rem !important;
}

.sc-rounded-15px {
  border-radius: 15px !important;
}

.sc-pt-28 {
  padding-top: 7rem !important;
}

.sc-pt-3 {
  padding-top: 0.75rem !important;
}

.sc-rounded {
  border-radius: 4px !important;
}

.sc-gap-2 {
  gap: 0.5rem !important;
}

.sc-text-16px {
  font-size: 16px !important;
}

.sc-rounded-md {
  border-radius: 6px !important;
}

.sc-hover\:bg-color-d87838:hover {
  background-color: #d87838 !important;
}

.sc-transition-all {
  transition: all 0.3s ease !important;
}

.sc-duration-300 {
  transition-duration: 300ms !important;
}

.sc-text-ellipsis {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.sc-h-13px {
  height: 13px !important;
}

.sc-w-13px {
  width: 13px !important;
}

.sc-h-toogle-bullet {
  height: 14px !important;
  right: 1px;
  margin-top: 1px;
}

.sc-inActiveTab-border {
  border: 1px solid #585858 !important;
}

.sc-select-inActiveTab-border {
  border: 1px solid #585858 !important;
}
.sc-w-30 {
  width: 90px !important;
}
.sc-pt-1_5 {
  padding-top: 7px !important;
}

.sc-pb-1_5 {
  padding-bottom: 7.2px !important;
}

.sc-rounded-l {
  border-radius: 6px 0px 0px 6px !important;
}

.sc-rounded-r {
  border-radius: 0px 6px 6px 0px !important;
}

.sc-py-1_2px {
  padding-top: 6.4px !important;
  padding-bottom: 6.4px !important;
}

.sc-py-0_5px {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.sc-py-1px {
  padding-top: 5.9px !important;
  padding-bottom: 5.9px !important;
}

.sc-py-8 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.sc-floating-message {
  position: absolute !important;
  background-color: #2c2c2c !important;
  color: white !important;
  border-radius: 8px !important;
  z-index: 99999 !important;
  opacity: 1 !important;
  transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out !important;
  animation: scFadeIn 0.5s ease-in-out !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3) !important;
  top: 100px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

.sc-message-arrow {
  position: absolute !important;
  bottom: -8px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  width: 0 !important;
  height: 0 !important;
  border-left: 8px solid transparent !important;
  border-right: 8px solid transparent !important;
  border-top: 8px solid #2c2c2c !important;
}

@keyframes scFadeIn {
  from {
    transform: translate(-50%, -5px) !important;
    opacity: 0 !important;
  }

  to {
    transform: translate(-50%, 0) !important;
    opacity: 1 !important;
  }
}

@keyframes scFadeOut {
  from {
    opacity: 1 !important;
  }

  to {
    opacity: 0 !important;
    transform: translate(-50%, -5px) !important;
  }
}

.sc-px-2_5 {
  padding-left: 0.625rem !important;
  padding-right: 0.625rem !important;
}

.sc-text-center {
  text-align: center !important;
}

.sc-gap-10px {
  gap: 0.625rem !important;
}

.sc-top-3 {
  top: 0.75rem !important;
  /* 12px */
}

.sc-right-3 {
  right: 0.75rem !important;
  /* 12px */
}

.sc-right-1 {
  right: 0.12rem !important;
}

.sc-right-0 {
  right: 0 !important;
}

.sc-rounded-22px {
  border-radius: 22px !important;
}

.sc-bg-F2F2F2 {
  background-color: #f2f2f2 !important;
}

.sc-rounded-6px {
  border-radius: 6px !important;
}

.sc-rounded-lg {
  border-radius: 15px !important;
}

.sc-py_2 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.sc-h-15px {
  height: 15px !important;
}

.sc-h-2px {
  height: 2px !important;
}

.sc-h-dropdown {
  height: 140px !important;
  overflow-y: auto !important;
}

.sc-h-350 {
  height: 380px !important;
  overflow-y: scroll !important;
}

.sc-text-hover-EF7C2F:hover {
  color: #ef7c2f !important;
}

.sc-w-5 {
  width: 15px !important;
}

.sc-left-half {
  left: 50% !important;
  transform: translateX(-50%) !important;
}

.sc-shadow-sm {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.397) !important;
}

.sc-bg-colo-EF7C2F {
  background-color: #ef7c2f !important;
}

.sc-col-span-11 {
  grid-column: span 11 / span 11;
}

.sc-bg-colo-EF7C2F-hover:hover {
  background-color: #ef7c2f !important;
}

.sc-bg-color-gray {
  background-color: #747272 !important;
}

.sc-p-1px {
  padding: 1px !important;
}

.sc-w-3 {
  width: 12px !important;
}

.sc-h-3 {
  height: 12px !important;
}

.sc-top-half {
  top: 50% !important;
  transform: translateY(-50%) !important;
}

.sc-p-2 {
  padding: 0.7rem !important;
}

.sc-h-full {
  height: 100% !important;
}

.sc-w-40 {
  width: 100px !important;
}

.sc-py-3 {
  padding-top: 0.45rem !important;
  padding-bottom: 0.45rem !important;
}

.sc-py-1 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.sc-py-sm {
  padding-top: 5.8px !important;
  padding-bottom: 5.8px !important;
}

.sc-py-xs {
  padding-top: 4.2px !important;
  padding-bottom: 4.2px !important;
}

.sc-border-color-585858 {
  border-color: #585858 !important;
}

.sc-pb-2 {
  padding-bottom: 0.4rem !important;
  /* 10px */
}

.sc-bg-color-f2f2f2 {
  background-color: #f2f2f2 !important;
}

.sc-bg-color-EF7C2F {
  background-color: #ef7c2f !important;
}

.sc-activeTab-border {
  border: 1px solid #ef7c2f7c !important;
}

.sc-select-activeTab-border {
  border: 1px solid #ef7c2f7c !important;
}

.sc-w-26px {
  width: 26px !important;
}

.sc-w-toogle {
  width: 30px !important;
}

.sc-h-toogle {
  height: 16px !important;
}

.sc-p-1 {
  padding: 0.4rem 0.5rem !important;
}

.sc-border-EF7C2F {
  border-color: #ef7c2f41 !important;
}

.sc-w-13px {
  width: 13px !important;
}

.sc-mb-4 {
  margin-bottom: 1.25rem !important;
  /* 24px */
}

.sc-object-contain {
  object-fit: contain !important;
}

.sc-w-4 {
  width: 8px !important;
}

.sc-h-4 {
  height: 8px !important;
}

.sc-w-20 {
  width: 50px !important;
}

.sc-cursor-grab {
  cursor: grab !important;
}

.sc-cursor-grabbing {
  cursor: grabbing !important;
}

.sc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.sc-font-sm {
  font-size: 12px !important;
  font-weight: 400 !important;
}

.sc-percentage {
  font-size: 18px;
  font-weight: bold;
  color: #ff5733;
}

/* Progress Bar */
.sc-progress-bar {
  width: 200px;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 10px;
  position: relative;
}

.sc-progress-fill {
  height: 100%;
  width: 0%;
  background-color: #ff5733;
  transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* Controls */
.sc-controls {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.sc-range {
  width: 200px;
}

.sc-p-1_5 {
  padding: 6px;
}

.sc-color-picker {
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
}

.sc-text-gray-300 {
  color: #d1d5db !important;
}

.sc-ml-1_5 {
  margin-left: 0.375rem !important;
}

.sc-ml-1_2 {
  margin-left: 0.3rem !important;
}

.toggle-container {
  position: relative;
  width: 35px;
  height: 16px;
  border-radius: 15px;
  background-color: #ef7c2f;
  cursor: pointer;
  transition: background 0.3s ease;
}

.toggle-bullet {
  position: absolute;
  top: 50%;
  right: 1.5px;
  width: 15px;
  height: 15px;
  background: #f2f2f2;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: left 0.3s ease;
}

.toggle-container.disabled {
  background-color: #747372;
}

.sc-w-float-message {
  width: 200px !important;
  height: 40px !important;
  background-color: #2c2c2c !important;
  color: white !important;
  padding: 10px !important;
  border-radius: 8px !important;
  z-index: 99999 !important;
  opacity: 1 !important;
}

.sc-text-xs {
  font-size: 11px !important;
}

.sc-ml-auto {
  margin-left: auto !important;
}

.sc-font-thin {
  font-weight: 300 !important;
}

/* Toggle bullet */

/* Active state */
.active {
  background-color: #ef7c2f !important;
  /* Green when active */
}

.active .toggle-bullet {
  left: calc(100% - 18px);
  /* Move to the right */
}

.rotate-animation {
  animation: rotate360 1s ease-in-out;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.sc-scrollBar::-webkit-scrollbar {
  width: 6px !important;
}

.sc-scrollBar::-webkit-scrollbar-track {
  background: #222 !important;
  border-radius: 100% !important;
}

.sc-scrollBar::-webkit-scrollbar-thumb {
  background: #ff7f00 !important;
  border-radius: 100% !important;
}

.sc-scrollBar::-webkit-scrollbar-thumb:hover {
  background: #e67600 !important;
  border-radius: 100%;
}

.sc-scrollBar {
  scrollbar-width: thin !important;
  scrollbar-color: #ff7f00 #222 !important;
}

.sc-loader {
  width: 24px !important;
  height: 24px !important;
  border: 3px solid #ccc !important;
  border-top-color: #ff7b00 !important;
  border-radius: 50% !important;
  animation: spin 1s linear infinite !important;
  margin: 10px auto !important;
  display: none !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg) !important;
  }

  100% {
    transform: rotate(360deg) !important;
  }
}

/* 🔽 Dropdown Container */
.sc-dropdown {
  position: absolute;
  display: none;
  z-index: 9999;
  max-height: 250px;
  overflow-y: auto;
}

.sc-w-190px {
  width: 190px !important;
}

/* FONT FAMILY */
[class*="sc-font-family-Arial"] {
  font-family: Arial, sans-serif !important;
}
[class*="sc-font-family-Times-New-Roman"] {
  font-family: "Times New Roman", serif !important;
}
[class*="sc-font-family-Courier-New"] {
  font-family: "Courier New", monospace !important;
}
[class*="sc-font-family-Georgia"] {
  font-family: Georgia, serif !important;
}
[class*="sc-font-family-Verdana"] {
  font-family: Verdana, sans-serif !important;
}

/* FONT SIZE */
[class*="sc-font-size-"] {
  font-size: var(--sc-font-size, 16px) !important;
}

.sc-font-size-12 {
  --sc-font-size: 12px;
}
.sc-font-size-14 {
  --sc-font-size: 14px;
}
.sc-font-size-16 {
  --sc-font-size: 16px;
}
.sc-font-size-18 {
  --sc-font-size: 18px;
}
.sc-font-size-20 {
  --sc-font-size: 20px;
}
.sc-font-size-24 {
  --sc-font-size: 24px;
}
.sc-font-size-30 {
  --sc-font-size: 30px;
}

[class*="sc-font-weight-"] {
  font-weight: var(--sc-font-weight, 400) !important;
}

.sc-font-weight-300 {
  --sc-font-weight: 300;
}
.sc-font-weight-400 {
  --sc-font-weight: 400;
}
.sc-font-weight-500 {
  --sc-font-weight: 500;
}
.sc-font-weight-600 {
  --sc-font-weight: 600;
}
.sc-font-weight-700 {
  --sc-font-weight: 700;
}
.sc-font-weight-800 {
  --sc-font-weight: 800;
}
.sc-font-weight-900 {
  --sc-font-weight: 900;
}

[class*="sc-letter-spacing-"] {
  letter-spacing: var(--sc-letter-spacing, 0px) !important;
}

.sc-letter-spacing-0 {
  --sc-letter-spacing: 0px;
}
.sc-letter-spacing-1 {
  --sc-letter-spacing: 1px;
}
.sc-letter-spacing-2 {
  --sc-letter-spacing: 2px;
}
.sc-letter-spacing-3 {
  --sc-letter-spacing: 3px;
}
.sc-letter-spacing-4 {
  --sc-letter-spacing: 4px;
}
.sc-letter-spacing-5 {
  --sc-letter-spacing: 5px;
}
.sc-letter-spacing-6 {
  --sc-letter-spacing: 6px;
}
.sc-letter-spacing-7 {
  --sc-letter-spacing: 7px;
}
.sc-letter-spacing-8 {
  --sc-letter-spacing: 8px;
}
.sc-letter-spacing-9 {
  --sc-letter-spacing: 9px;
}
.sc-letter-spacing-10 {
  --sc-letter-spacing: 10px;
}

[class*="sc-text-align-"] {
  text-align: var(--sc-text-align, left) !important;
}

.sc-text-align-left {
  --sc-text-align: left;
}
.sc-text-align-center {
  --sc-text-align: center;
}
.sc-text-align-right {
  --sc-text-align: right;
}
.sc-text-align-justify {
  --sc-text-align: justify;
}

.sc-dropdown-content {
  background-color: #3d3d3d !important;
  border: 1px solid #585858 !important;
  border-radius: 6px !important;
  padding: 8px !important;
  color: #ffffff !important;
  font-size: 14px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
  font-size: 12px !important;
}

.sc-dropdown-item {
  padding: 6px !important;
  cursor: pointer !important;
  transition: background 0.3s ease-in-out !important;
}

.sc-dropdown-item:hover {
  background-color: #ef7c2f !important;
}

.sc-loader {
  text-align: center !important;
  padding: 10px !important;
}

.sc-border-EF7C2F-hover:hover {
  border: 0.5px solid #ef7c2f41 !important;
}

.sc-hidden {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

.sc-visible {
  opacity: 1;
  max-height: 1000px;
  /* enough to show full content */
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

.sc-scroll {
  max-height: 250px !important;
  overflow-y: auto !important;
}

.sc-active {
  background-color: #ef7c2f !important;
  color: white !important;
}

.sc-w-150 {
  width: 150px !important;
}

@keyframes sc-border-animation {
  0% {
    border-color: #ff4500;
  }

  /* Orange */
  25% {
    border-color: #00ff00;
  }

  /* Green */
  50% {
    border-color: #007bff;
  }

  /* Blue */
  75% {
    border-color: #ff00ff;
  }

  /* Magenta */
  100% {
    border-color: #ff4500;
  }

  /* Back to Orange */
}

.sc-bg-black {
  background-color: #000 !important;
}

.sc-animated-border {
  border: 2px solid;
  animation: sc-border-animation 1.5s infinite linear;
}

.sc-border-3f3f3f {
  border-color: #3f3f3f !important;
}

.sc-custom-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.sc-border-hover-EF7C2F:hover {
  border: #ef7c2f solid thin !important;
  border-radius: 6px !important;
}

.sc-custom-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: none;
  background: #3f3f3f;
  border-radius: 6px;
  border: 1px solid #585858;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  max-height: 200px;
  overflow-y: auto;
}

.sc-custom-dropdown.show {
  display: block;
}

.sc-dropdown-item {
  padding: 8px 12px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.sc-dropdown-item:hover {
  background: #494949;
}

.sc-custom-select {
  appearance: none;
  /* Removes default OS styling */
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #494949;
  color: white;
  font-size: 14px;
  border: 1px solid #585858;
  border-radius: 6px;
  padding: 8px 12px;
  width: 100%;
  cursor: pointer;
  outline: none;
  position: relative;
}

.sc-outline {
  outline: 2px dashed #ef7c2f !important;
}

.sc-custom-select-wrapper {
  position: relative;
  width: 100%;
}

.sc-custom-select-wrapper::after {
  content: "▼";
  /* Unicode for down arrow */
  font-size: 12px;
  color: white;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.sc-custom-select option {
  background: #3f3f3f;
  color: white;
  padding: 10px;
  font-size: 14px;
}

.sc-custom-select option:hover {
  background: #585858 !important;
}

.sc-custom-select:focus {
  border-color: #ef7c2f;
  box-shadow: 0 0 5px rgba(239, 124, 47, 0.5);
}

.sc-font-size-input {
  outline: none !important;
  border: none !important;
  background: transparent !important;
  color: #fff !important;
  padding: 4px 8px !important;
  font-size: 12px !important;
  text-align: center !important;
  width: 38px !important;
  border-right: #4d4d4d solid 1px !important;
}

.sc-Letter-spacing-input {
  outline: none !important;
  border: none !important;
  background: transparent !important;
  color: #fff !important;
  padding: 4px 8px !important;
  font-size: 12px !important;
  text-align: center !important;
  width: 28px !important;
  border-right: #4d4d4d solid 1px !important;
}

.sc-font-size-input:focus {
  box-shadow: none !important;
}

/* "px" Unit Styling */
.sc-font-size-unit {
  background: #3d3d3d !important;
  color: #fff !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

/* Dropdown Arrow Corrected */
.sc-dropdown-arrow {
  width: 10px !important;
  cursor: pointer !important;
  padding: 4px 6px !important;
}

.sc-ml-1 {
  margin-left: 0.15rem !important;
  /* 4px */
}

.sc-ml-2 {
  margin-left: 0.6rem !important;
  /* 6px */
}

.sc-ml-3 {
  margin-left: 0.8rem !important;
  /* 16px */
}

.sc-font-size-container {
  position: relative !important;
}

/* Dropdown Styles */
.sc-hidden {
  display: none !important;
}

.sc-dropdown-item:hover {
  background: #ef7c2f !important;
  color: white !important;
  cursor: pointer !important;
}

.sc-roudned-r-md {
  border-radius: 0px 6px 6px 0px !important;
}

.sc-mr-1 {
  margin-right: 0.15rem !important;
  /* 4px */
}

.sc-dropdown-item {
  transition: background-color 0.2s ease;
}

.sc-dropdown-item:hover {
  background-color: #494949;
}

.sc-dropdown-arrow {
  transition: transform 0.2s ease;
}

.sc-px-1_5 {
  padding-left: 0.375rem !important;
  /* 6px */
  padding-right: 0.375rem !important;
  /* 6px */
}

.sc-mb-1 {
  margin-bottom: 0.15rem !important;
  /* 4px */
}

.sc-v-line {
  height: 28px !important;
  width: 1px;
  background-color: rgb(95, 94, 94) !important;
}

.sc-px-1px {
  padding-left: 0.2rem !important;
  /* 4px */
  padding-right: 0.2rem !important;
  /* 4px */
}

#sc-font-family {
  position: relative !important;
}

#sc-font-list {
  position: absolute !important;
  top: 100% !important;
  left: 0 !important;
  width: 100% !important;
  max-height: 200px !important;
  /* Reduce height */
  overflow-y: auto !important;
  z-index: 9999 !important;
  border: 1px solid #585858 !important;
  border-radius: 6px !important;
  background: #2c2c2c !important;
  display: none !important;
}

.sc-font-dropdown {
  display: block !important;
}

.sc-dropdown-item {
  padding: 10px !important;
  cursor: pointer !important;
  font-size: 10px !important;
  border-bottom: 1px solid #3d3d3d !important;
  text-align: left !important;
  color: white !important;
  transition: background 0.3s ease !important;
}

.sc-dropdown-item:hover {
  background-color: #ef7c2f !important;
}

.text-EF7C2F {
  color: #ef7c2f !important;
}

.sc-fixed {
  position: fixed !important;
}

.sc-top-5 {
  top: 20px !important;
}

.sc-right-5 {
  right: 20px !important;
}

.sc-w-40px {
  width: 40px !important;
}

.sc-h-2 {
  height: 5px !important;
}

.sc-h-40px {
  height: 40px !important;
}

.sc-px-3 {
  padding: 20px !important;
}

#font-family-arrow {
  z-index: 999999;
}

.z-index-high {
  z-index: 999999 !important;
}

#scFontDropdown {
  position: absolute;
  z-index: 99999;
  background-color: #3f3f3f;
  display: none;
  /* Ensures it is hidden initially */
}

.sc-square-6 {
  width: 17px;
  height: 17px;
  border-radius: 15%;
  background-color: #6e0303;
}

#color-palette {
  width: 230px !important;
  z-index: 99999 !important;
}
#button-font-color-palette {
  width: 230px !important;
  z-index: 99999 !important;
}

#color-selection-field {
  width: 100% !important;
  height: 100px !important;
  border-radius: 6px !important;
}

#button-color-selection-field {
  width: 100% !important;
  height: 100px !important;
  border-radius: 6px !important;
}

.color-h-selection {
  height: 100px !important;
}

.sc-w-2 {
  width: 8px !important;
}

.sc-border-white {
  border: 2px solid #fff !important;
}

.sc-button-color-arrow {
  position: absolute !important;
  bottom: 100% !important;
  right: 3% !important;
  transform: translateX(-50%) !important;
  width: 0 !important;
  height: 0 !important;
  border-left: 6px solid transparent !important;
  border-right: 6px solid transparent !important;
  border-bottom: 6px solid #c47206 !important;
}
.sc-color-arrow {
  position: absolute !important;
  bottom: 100% !important;
  left: 45% !important;
  transform: translateX(-50%) !important;
  width: 0 !important;
  height: 0 !important;
  border-left: 6px solid transparent !important;
  border-right: 6px solid transparent !important;
  border-bottom: 6px solid #c47206 !important;
}

.sc-w-2 {
  width: 5px !important;
}

.sc-bg-gradient-main {
  background: linear-gradient(
    to top,
    hsla(40, 100%, 50%, 1),
    hsla(40, 100%, 50%, 0)
  );
}

.sc-bg-gradient-white {
  background: linear-gradient(to top, white, transparent);
}

.sc-translate-x--1\/2 {
  transform: translateX(-50%);
}

.sc-translate-y--1\/2 {
  transform: translateY(-50%);
}

.sc-border-colors {
  border: 1px solid #757474;
}

.sc-top-12 {
  top: 2.5rem !important;
  /* 48px */
}

.sc-cursor-pointer {
  cursor: pointer !important;
}

.sc-z-99999 {
  z-index: 99999 !important;
}

.sc-hidden {
  display: none !important;
}

.sc-z-9999 {
  z-index: 9999 !important;
}

.sc-top-25 {
  top: 100px !important;
}

.sc-left-25 {
  left: 100px !important;
}

.sc-toolbar-icon {
  pointer-events: all !important;
}

.sc-dropdown-content {
  position: absolute !important;
  background-color: #3d3d3d !important;
  border: 1px solid #585858 !important;
  border-radius: 6px !important;
  padding: 8px !important;
  color: #ffffff !important;
  font-size: 14px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
  width: 100% !important;
  max-height: 200px !important;
  overflow-y: auto !important;
  display: none !important;
}

.sc-dropdown-content .sc-dropdown-item {
  padding: 6px !important;
  cursor: pointer !important;
  transition: background 0.3s ease-in-out !important;
}

.sc-toolbar {
  display: flex;
  align-items: center;
  border: 1px solid #e5e4e2;
  padding: 6px;
  gap: 6px;
  transition: background-color 0.2s ease-in-out;
}

.sc-selected {
  outline: 2px dashed #ef7c2f !important;
}

.sc-toolbar:hover {
  background-color: rgba(229, 229, 229, 0.2);
}

.sc-visible {
  display: block !important;
}

#sc-font-dropdown {
  position: absolute;
  background-color: #3f3f3f;
  /* Match the theme */
  border: 1px solid #585858;
  border-radius: 6px;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  display: none;
  /* Initially hidden */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.sc-dropdown-item {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: white;
}

.sc-dropdown-item:hover {
  background-color: #ef7c2f;
  color: white;
}

#sc-font-dropdown {
  position: absolute;
  top: 100%;
  /* Opens below */
  left: 0;
  width: 100%;
  z-index: 99999;
  background: #3d3d3d;
  /* Ensure visibility */
}

.sc-dropdown-content .sc-dropdown-item:hover {
  background-color: #ef7c2f !important;
}

.sc-hidden {
  display: none !important;
}

.sc-scroll {
  max-height: 200px !important;
  overflow-y: auto !important;
}

.sc-universal {
  box-sizing: border-box !important;
  margin: 0 !important;
  padding: 0 !important;
}

.sc-widget-position {
  position: absolute;
  z-index: 99999;
}

.sc-animate-border {
  border: 3px solid transparent;
  animation: scBorderAnimation 1.5s infinite alternate;
}

@keyframes scBorderAnimation {
  0% {
    border-color: #47230b;
  }

  50% {
    border-color: #f3cb7b;
  }

  100% {
    border-color: #ef7c2f;
  }
}

.sc-widget-icon {
  width: 100px !important;
  /* Adjust size */
  height: 30px !important;
  /* Keep it proportional */
}

.sc-admin-icon {
  width: 25px;
  height: 25px;
  border: 1px solid #dddbdb;
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
  margin-right: 10px;
  display: inline-block;
}

.sc-tooltip {
  position: fixed;
  top: 60px;
  right: 20px;
  background-color: #2c2c2c;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  z-index: 99999;
  opacity: 0.9;
  transition: opacity 0.3s ease-in-out;
}

.sc-relative {
  position: relative;
}

.sc-inline-block {
  display: inline-block;
}

.sc-z-99999 {
  z-index: 99999;
}

.sc-w-30px {
  width: 30px;
}

.sc-h-30px {
  height: 30px;
}

.sc-rounded-20 {
  border-radius: 20%;
}

.sc-mr-6 {
  margin-right: 6px;
}

.sc-mt-8 {
  margin-top: 2rem;
}

.sc-cursor-pointer {
  cursor: pointer;
}

.sc-message {
  position: absolute;
  background-color: #2c2c2c;
  color: white;
  padding: 10px 14px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 400;
  z-index: 99999;
  opacity: 1;
  white-space: nowrap;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  top: 54px;
  left: 40%;
  transform: translateX(-50%);
  animation: scFadeIn 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out;
}

.sc-message-arrow {
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #2c2c2c;
}

.sc-toolbar {
  display: flex;
  align-items: center;
  border: 1px solid #e5e4e2;
  background: rgba(255, 127, 23, 0.06);
  border-radius: 6px;
  padding: 6px;
  gap: 6px;
  transition: background-color 0.3s ease;
}

.sc-toolbar:hover {
  background-color: rgba(177, 176, 176, 0.2);
}

.sc-text-14 {
  font-size: 14px;
}

.sc-font-bold {
  font-weight: bold;
}
